In [4]:
import pandas as pd
import numpy as np

In [5]:
import pandas.util.testing as tm

In [6]:
tm.N, tm.K = 15, 3
df=tm.makeTimeDataFrame(freq='M')

In [7]:
xx=pd.Series(df.dtypes)

In [8]:
df

                   A         B         C
2000-01-31  0.814075 -0.642708  0.105276
2000-02-29 -0.599439  0.671284  1.278854
2000-03-31 -0.476978 -2.362618 -0.051304
2000-04-30  0.255749  0.211939 -0.967608
2000-05-31  0.427986  0.174164 -1.346534
2000-06-30  1.556822  0.096061 -1.214952
2000-07-31  0.566566 -0.048864 -0.215930
2000-08-31  0.178872  1.124443  0.322648
2000-09-30  2.792504  0.220367 -0.747535
2000-10-31  1.141706 -0.005554 -0.213605
2000-11-30 -0.310582 -0.506631  1.730550
2000-12-31  1.399809  0.068920 -0.061344
2001-01-31 -0.939417 -1.046209 -1.715651
2001-02-28  0.697048 -0.239716  0.870295
2001-03-31 -0.803878 -0.499096 -2.012988

In [61]:
xx=np.array(df.columns.unique())

array([0, 1])

In [ ]:
pd.DataFrame({'a':np.arange(5)})

In [ ]:
df.index.levels[0].unique()

In [13]:
df.to_hdf('data',"/home/yuxuzi/Data/mydataset0")

In [ ]:
path ='/home/yuxuzi/PythonProjects/Hands-On-Machine-Learning-for-Algorithmic-Trading/data/assets.h5'

In [46]:
store1=pd.HDFStore("/home/yuxuzi/Data/mydataset0")

In [45]:
store.keys()
store.close()

In [44]:
mm=store['/index/symbols'].

In [48]:
df1=store1['/data/close'].rename(mm, axis=1).stack().rename('close')

In [49]:
df2=store1['/data/open'].rename(mm, axis=1).stack().rename('open')

In [52]:
df=pd.concat([df1,df2], axis=1)

In [59]:
df['sector']=np.random.choice( list('ABCDE'), len(df))

In [56]:
store1.close()

In [63]:
df

                                    close    open sector
date
2018-03-12 00:00:00+00:00 MOD     22.9000   23.30      B
                          MODN    18.8000   18.55      C
                          MOFG    34.0900   33.86      B
                          MOG_A   87.3400   88.35      B
                          MOH     75.8100   75.84      E
                          MON    123.1500  123.25      D
                          MORN    97.7400   97.28      A
                          MOS     27.6200   28.13      A
                          MOSY     1.5400    1.55      A
2018-03-13 00:00:00+00:00 MOD     23.3500   22.95      B
                          MODN    18.5000   18.85      A
                          MOFG    34.2200   34.23      E
                          MOG_A   87.7300   87.95      B
                          MOH     76.1400   76.01      E
                          MON    123.5900  123.56      E
                          MORN    98.2200   98.00      D
                          MOS     27.6100   27.65      B
                          MOSY     1.4900    1.55      E
2018-03-14 00:00:00+00:00 MOD     23.0500   23.50      B
                          MODN    18.4000   18.55      E
                          MOFG    33.8400   34.35      E
                          MOG_A   85.5900   88.13      E
                          MOH     76.2300   76.13      B
                          MON    123.1500  123.65      A
                          MORN    97.4800   98.52      A
                          MOS     27.1000   27.70      B
                          MOSY     1.3600    1.50      D
2018-03-15 00:00:00+00:00 MOD     23.1000   23.00      A
                          MODN    17.9000   18.35      B
                          MOFG    33.6600   33.85      A
...                                   ...     ...    ...
2018-03-22 00:00:00+00:00 MORN    95.3200   97.29      D
                          MOS     24.6800   24.89      E
                          MOSY     1.3787    1.36      E
2018-03-23 00:00:00+00:00 MOD     21.8500   22.70      A
                          MODN    17.7000   17.85      C
                          MOFG    32.0600   33.19      C
                          MOG_A   81.8000   83.48      B
                          MOH     74.6000   77.19      A
                          MON    117.1500  117.80      B
                          MORN    94.0100   95.59      E
                          MOS     24.2600   24.68      C
                          MOSY     1.3200    1.38      A
2018-03-26 00:00:00+00:00 MOD     22.7000   22.25      E
                          MODN    18.0500   17.95      A
                          MOFG    33.0600   32.46      A
                          MOG_A   83.8700   83.32      B
                          MOH     76.6600   75.14      A
                          MON    117.6900  117.86      C
                          MORN    96.5600   94.62      D
                          MOS     24.6500   24.67      A
                          MOSY     1.2500    1.33      D
2018-03-27 00:00:00+00:00 MOD     21.2500   22.75      B
                          MODN    17.6000   18.10      C
                          MOFG    32.7000   33.06      B
                          MOG_A   81.5000   84.19      B
                          MOH     77.7500   77.49      A
                          MON    117.5800  117.76      E
                          MORN    95.6200   97.00      B
                          MOS     24.2000   24.79      E
                          MOSY     1.1800    1.25      A

[108 rows x 3 columns]

In [62]:
import timeit
import numpy as np
from interface import implements
import pandas as pd
from zipline.pipeline.loaders.base import PipelineLoader
from zipline.testing.core import tmp_asset_finder
from zipline.pipeline.domain import US_EQUITIES
from zipline.pipeline.engine import SimplePipelineEngine

from zipline.pipeline import Pipeline
from zipline.pipeline.factors.factor import CustomFactor
from zipline.lib.adjusted_array import AdjustedArray
from zipline.utils.numpy_utils import as_column
from zipline.pipeline.data.dataset import Column, DataSet



class HDFSimpleLoader(implements(PipelineLoader)):
    """
    pipline loader from HDF file
    """

    def __init__(self, data_path, dates, assets):  # start_date, end_date
        self.data_path = data_path
        self.dates = dates.values
        self.assets = assets.values


    def load_adjusted_array(self, domain, columns, dates, sids, mask):
        date_indexer =np.searchsorted(self.dates, dates)
        assets_indexer = np.searchsorted(self.assets, sids)

        # Boolean arrays with True on matched entries
        good_dates = (date_indexer != -1)
        good_assets = (assets_indexer != -1)
        mask = (good_assets & as_column(good_dates)) & mask
        out = {}
        with pd.HDFStore(self.data_path) as store:
            for column in columns:
                try:
                    data = store["/data/"+column.name].values
                    data = data[np.ix_(date_indexer, assets_indexer)]
                    data[~mask] = column.missing_value
                except KeyError:
                    raise ValueError("Couldn't find loader for %s" % column.name)
                out[column] = AdjustedArray(
                    # Pull out requested columns/rows from our baseline data.
                    data=data,
                    adjustments={},
                    missing_value=column.missing_value,
                )
        return out


class HDFSimpleDataSource:
    def __init__(self, data_path, dataset=None):
        self.data_path = data_path
        with pd.HDFStore(data_path) as store:
            self.sids=store["index/sids"]
            self.dates=store["index/dates"]
            equities=store['equities'].assign(
                        exchange='NYSE',
                        country_code='US'
            )

        self.loader = HDFSimpleLoader(data_path, self.dates, self.sids)
        exchanges = pd.DataFrame({'exchange': ['NYSE'], 'country_code': ['US']})
        self.asset_finder = tmp_asset_finder(url='sqlite:///:memory:', equities=equities,
                                             exchanges=exchanges).__enter__()

    @staticmethod
    def write_hdf(data, data_path):
        try:
            data.index = data.index.set_levels(data.index.levels[0].tz_localize('utc'), level=0)
        except:
            pass

        symbols = data.index.levels[1].unique()
        num_assets = len(symbols)
        sids = pd.Series(np.arange(num_assets))
        dates = pd.Series(data.index.levels[0].unique())
        dtypes = pd.Series(data.dtypes)
        starts, ends = [], []
        with pd.HDFStore(data_path, complevel=9, mode='w') as store:
            for column in data:
                dat = data[column].unstack().set_axis(sids, axis=1, inplace=False)
                dat_is_null = dat.isnull()
                starts.append(dat_is_null.apply(lambda x: x.idxmin()))
                ends.append(dat_is_null.apply(lambda x: x[::-1].idxmin()))
                store.put('/data/' + column, dat)
            start_dates = np.amin(np.vstack(starts), axis=0)
            end_dates = np.amax(np.vstack(ends), axis=0)

            equities = pd.DataFrame({'sid': sids,
                                     'start_date': start_dates,
                                     'end_date': end_dates,
                                     'symbol': symbols}
                                    )

            store.put('/index/dates', dates)
            store.put('/index/sids', sids)
            store.put('/dtypes', dtypes)
            store.put('/equities', equities)
    @staticmethod
    def infer_dataset(data_path, fields=None):
        with pd.HDFStore(data_path) as store:
            dtypes = store['/dtypes']
            columns = {k: Column(v) for k, v in dtypes.iteritems() if fields is None or k in fields}
        return type("Dataset", (DataSet,), columns)

    def run_pipeline(self, *args, **kwargs):
        calendar = US_EQUITIES
        loader = self.loader
        finder = self.asset_finder
        engine = SimplePipelineEngine(lambda col: loader, finder, default_domain=calendar)
        return engine.run_pipeline(*args, **kwargs)

In [61]:
HDFSimpleDataSource.write_hdf(df, '/home/yuxuzi/Data/mydataset2')

> <ipython-input-35-50124ba91fc3>(84)write_hdf()
-> dtypes = pd.Series(data.dtypes)
(Pdb) c

In [35]:
sids=store2['/index/sids']
symbols=store2['/index/symbols']

In [44]:
            equities=pd.DataFrame( {'sid':sids,       
                                    'start_date':start_date[0],
                                    'end_date':end_date[0],
                                    'symbol':symbols})

In [45]:
store2['equities']=equities

In [36]:
start_date=store2['/lifetime/start_dates'][0]

In [47]:
store2.remove('/lifetime')

In [38]:
end_date=store2['/lifetime/end_dates'][0]

In [48]:
store2.keys()

['/dtypes',
 '/equities',
 '/data/close',
 '/data/open',
 '/index/dates',
 '/index/sids',
 '/index/symbols']

In [49]:
store2.close()

In [ ]:
store.close()

In [ ]:
%%timeit
keys=store.keys()
[ k  for k in ['close','open'] if "/"+k in keys]

In [ ]:
 np.unique(np.arange(10), return_index=True)

In [ ]:
is_null_matrix = np.logical_and.reduce(
        [df[field].unstack().isnull().values for field in df],
    )

In [ ]:
def func(x)
    arr=x.isnull()
    start=arr.idxmin()

In [ ]:
store.info

In [ ]:
pd.date_range( '2018-03-12','2018-03-27', freq='C',    tz='UTC')

In [ ]:
        def find_start_end(x):
            x_na=x.isnull()
            return x_na.idxmin(), x_na[::-1].idxmin()

In [ ]:
v=x.unstack().apply(lambda x:x.isnull().idxmin())

In [ ]:
v

In [ ]:
xx=np.vstack([v,v])

In [ ]:
xx.

In [ ]:
np.amin(xx, axis=0)

In [ ]:
arr=None

In [ ]:
for i in range(10):
    arr=np.vstack([arr, v])

In [ ]:
pd.Timestamp('1962-01-02')