In [2]:
import pandas as pd
import numpy as np

In [52]:
import pandas.util.testing as tm

In [53]:
tm.N, tm.K = 15, 3
df=tm.makeTimeDataFrame(freq='M')

In [4]:
xx=pd.Series(df.dtypes)

In [54]:
df

                   A         B         C
2000-01-31  0.102997  0.129587  0.568415
2000-02-29 -0.211281  1.004585  0.135010
2000-03-31  0.719858 -2.112240 -0.154409
2000-04-30  1.369998  0.368059 -1.825556
2000-05-31  0.204936  0.633865 -1.238072
2000-06-30 -0.884290 -2.232989  1.253531
2000-07-31 -2.216713 -0.557716  0.105518
2000-08-31  0.858995 -0.021086 -0.568319
2000-09-30  1.284679 -1.664506 -1.282648
2000-10-31 -1.210117 -1.324040  1.253409
2000-11-30 -0.620172  0.064882  0.063648
2000-12-31  0.372292  0.713174  1.836597
2001-01-31 -0.835677  0.499233 -0.960479
2001-02-28  0.263932 -2.011104  1.063587
2001-03-31  0.362965  0.254204  1.200897

In [61]:
xx=np.array(df.columns.unique())

array([0, 1])

In [ ]:
pd.DataFrame({'a':np.arange(5)})

In [ ]:
df.index.levels[0].unique()

In [13]:
df.to_hdf('data',"/home/yuxuzi/Data/mydataset0")

In [ ]:
path ='/home/yuxuzi/PythonProjects/Hands-On-Machine-Learning-for-Algorithmic-Trading/data/assets.h5'

In [19]:
store1=pd.HDFStore("/home/yuxuzi/Data/mydataset0")

In [20]:
store1.keys()

['/dtypes',
 '/equities',
 '/data/close',
 '/data/open',
 '/index/dates',
 '/index/sids']

In [11]:
store1.close()

0    2018-03-12
1    2018-03-13
2    2018-03-14
3    2018-03-15
4    2018-03-16
5    2018-03-19
6    2018-03-20
7    2018-03-21
8    2018-03-22
9    2018-03-23
10   2018-03-26
11   2018-03-27
dtype: datetime64[ns]

In [21]:
store2=pd.HDFStore("/home/yuxuzi/Data/mydadaset0")

In [23]:
store2.keys()

['/dtypes',
 '/data/close',
 '/data/open',
 '/index/dates',
 '/index/sids',
 '/index/symbols',
 '/lifetime/end_dates',
 '/lifetime/start_dates']

In [24]:
store2['/data/open']

,0,1,2,3,4,5,6,7,8
date,,,,,,,,,
2018-03-12 00:00:00+00:00,23.30,18.55,33.86,88.35,75.84,123.25,97.28,28.13,1.55
2018-03-13 00:00:00+00:00,22.95,18.85,34.23,87.95,76.01,123.56,98.00,27.65,1.55
2018-03-14 00:00:00+00:00,23.50,18.55,34.35,88.13,76.13,123.65,98.52,27.70,1.50
2018-03-15 00:00:00+00:00,23.00,18.35,33.85,86.02,76.40,123.20,97.48,27.12,1.33
2018-03-16 00:00:00+00:00,23.05,18.00,33.61,85.37,76.18,117.55,98.49,26.31,1.29
2018-03-19 00:00:00+00:00,22.90,18.30,33.98,85.64,76.80,117.53,97.76,25.86,1.37
2018-03-20 00:00:00+00:00,23.10,18.10,34.10,86.77,77.54,117.87,97.67,25.69,1.33
2018-03-21 00:00:00+00:00,23.15,18.20,33.62,86.31,77.69,118.68,97.91,25.07,1.39
2018-03-22 00:00:00+00:00,23.35,17.95,33.53,85.90,77.83,118.75,97.29,24.89,1.36
2018-03-23 00:00:00+00:00,22.70,17.85,33.19,83.48,77.19,117.80,95.59,24.68,1.38
2018-03-26 00:00:00+00:00,22.25,17.95,32.46,83.32,75.14,117.86,94.62,24.67,1.33
2018-03-27 00:00:00+00:00,22.75,18.10,33.06,84.19,77.49,117.76,97.00,24.79,1.25

In [35]:
sids=store2['/index/sids']
symbols=store2['/index/symbols']

In [44]:
            equities=pd.DataFrame( {'sid':sids,       
                                    'start_date':start_date[0],
                                    'end_date':end_date[0],
                                    'symbol':symbols})

In [45]:
store2['equities']=equities

In [36]:
start_date=store2['/lifetime/start_dates'][0]

In [47]:
store2.remove('/lifetime')

In [38]:
end_date=store2['/lifetime/end_dates'][0]

In [48]:
store2.keys()

['/dtypes',
 '/equities',
 '/data/close',
 '/data/open',
 '/index/dates',
 '/index/sids',
 '/index/symbols']

In [49]:
store2.close()

In [ ]:
store.close()

In [ ]:
%%timeit
keys=store.keys()
[ k  for k in ['close','open'] if "/"+k in keys]

In [ ]:
 np.unique(np.arange(10), return_index=True)

In [ ]:
is_null_matrix = np.logical_and.reduce(
        [df[field].unstack().isnull().values for field in df],
    )

In [ ]:
def func(x)
    arr=x.isnull()
    start=arr.idxmin()

In [ ]:
store.info

In [ ]:
pd.date_range( '2018-03-12','2018-03-27', freq='C',    tz='UTC')

In [ ]:
        def find_start_end(x):
            x_na=x.isnull()
            return x_na.idxmin(), x_na[::-1].idxmin()

In [ ]:
v=x.unstack().apply(lambda x:x.isnull().idxmin())

In [ ]:
v

In [ ]:
xx=np.vstack([v,v])

In [ ]:
xx.

In [ ]:
np.amin(xx, axis=0)

In [ ]:
arr=None

In [ ]:
for i in range(10):
    arr=np.vstack([arr, v])

In [ ]:
pd.Timestamp('1962-01-02')